{% extends 'info/base.html' %}



    <style>
        .container {
            max-width: 1200px;
            margin: 20px auto;
            padding: 20px;
        }
        .btn {
            border: none;
            padding: 8px;
            border-radius: 4px;
            border: solid 2px #efefef;
            cursor: pointer;
        }
        .btn:hover {
            background-color: #ddd;
        }
        .btn-active {
            border: solid 2px #444;
        }
    </style>
{% block content %}
    <div class="container">

        <div>
            <button class="btn btn-active" id="btn-monthly">Monthly {{ bar_level }}</button>
            <button class="btn" id="btn-weekly">Weekly {{ name }} </button>
        </div>
        <canvas id="bar-graph"></canvas>

            <canvas id="pie-graph"  height="40px" width="80px"></canvas>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>

        const barLabels = {{ bar_data|safe }}
        const pieLabels = {{ pie_data|safe }}

        const sampleWeeklyData = {
            presentData: {{ weekly_present|safe }},
            absentData: {{ weekly_absent|safe }},
        }

        const sampleMonthlyData = {
            presentData: {{ monthly_present|safe }},
            absentData: {{ monthly_absent|safe }}
        }

         const piesampleWeeklyData = {
            presentData: {{ pie_weekly|safe }},
        }

        const piesampleMonthlyData = {
            presentData: {{ pie_monthly|safe }},
        }
    </script>

    <script>

        const getData = (type) => { // type: 'weekly' | 'monthly'
            return {
                labels: barLabels,
                datasets: [
                    {
                        label: 'Present',
                        backgroundColor: 'rgb(99, 255, 132)',
                        borderColor: 'rgb(99, 255, 132)',
                        data: type === "weekly" ? sampleWeeklyData.presentData : sampleMonthlyData.presentData
                    },
                    {
                        label: 'Absent',
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: type === "weekly" ? sampleWeeklyData.absentData : sampleMonthlyData.absentData
                    }
                ]
            }
        }
        const PiegetData = (type) => { // type: 'weekly' | 'monthly'
            return {
                labels: pieLabels,
                datasets: [
                    {
                        label: 'Present',
                        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                        borderColor: 'rgb(99, 255, 132)',
                        weight:1,
                        data: type === "weekly" ? piesampleWeeklyData.presentData : piesampleMonthlyData.presentData
                    },

                ]
            }
        }

        const getConfig = (type = "monthly") => { // type: 'weekly' | "monthly"
            const config = {
                type: 'bar',
                data: getData(type),
                options: {
                    barThickness: 40,
                    responsive: true,
                    scales: {
                        yAxis: {
                            max: type === "monthly" ? 30 : 7,
                            min: 0
                        }
                    },
                    plugins: {
                        legend: {
                            position: 'top'
                        },
                        title: {
                            display: true,
                            text: 'Chart.js Bar Chart'
                        }
                    },
                }
            };
            return config;
        }

        const getPieConfig = (type = "monthly") => { // type: 'weekly' | "monthly"
        console.log(type)
            const config = {
                type: 'pie',
                data: PiegetData(type),
                options: {
                    barThickness: 40,
                    responsive: true,
                    scales: {
                        yAxis: {
                            max: type === "monthly" ? 30 : 7,
                            min: 0
                        }
                    },
                    plugins: {
                        legend: {
                            position: 'top'
                        },
                        title: {
                            display: true,
                            text: 'Chart.js pie Chart'
                        }
                    },
                }
            };
            return config;
        }
    </script>

    <script>
        // renders chart
        new Chart(document.getElementById('bar-graph'), getConfig("monthly"));
        new Chart(document.getElementById('pie-graph'),  getPieConfig("monthly"));

        // TOGGLE BUTTON CLICK
        const monthlyButton = document.getElementById("btn-monthly");
        const weeklyButton = document.getElementById("btn-weekly");

        // monthly toggle button click
        monthlyButton.addEventListener("click", () => {
            // style: toggles btn-active className
            monthlyButton.classList.add("btn-active");
            weeklyButton.classList.remove("btn-active")

            // removes current chart element and creates new
            document.getElementById('bar-graph').remove();
            document.getElementById('pie-graph').remove();
            const container = document.querySelector('.container');
            const newCanvas = document.createElement('canvas');
            newCanvas.id =  "bar-graph";
            container.appendChild(newCanvas);
            const newCanvas1 = document.createElement('canvas');
            newCanvas1.id =  "pie-graph";
            container.appendChild(newCanvas1);

            // new chart element
            new Chart(document.getElementById('bar-graph'), getConfig("monthly"));
            new Chart(document.getElementById('pie-graph'), getPieConfig("monthly"));
        });

        // weekly toggle button click
        weeklyButton.addEventListener("click", () => {
            // style: toggles btn-active className
            weeklyButton.classList.add("btn-active");
            monthlyButton.classList.remove("btn-active")

            // removes current chart element and creates new
            document.getElementById('bar-graph').remove();
            document.getElementById('pie-graph').remove();
            const container = document.querySelector('.container');
            const newCanvas = document.createElement('canvas');
            newCanvas.id =  "bar-graph";
            container.appendChild(newCanvas);
            const newCanvas1 = document.createElement('canvas');
            newCanvas1.id =  "pie-graph";
            container.appendChild(newCanvas1);

            // new chart element
            new Chart(document.getElementById('bar-graph'), getConfig("weekly"));
            new Chart(document.getElementById('pie-graph'), getPieConfig("weekly"));
        });
    </script>
    {% endblock %}